@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
.bodyListe {
    background-color: beige;
    min-height: 93vh;
}

.titreListe {
    font-family: 'Dancing Script', cursive, sans-serif;
    padding: 1% 0 1% 0;
}

.cardsListe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    margin: 0 5% 5% 5%;
}

.card-img-top {
    height: 300px;
}