.bodyNavigation {
    height: 7vh;
    background-color: rgb(219, 188, 13);
    line-height: 7vh;
}

.link {
    margin-left: 5%;
    text-decoration: none;
    color: white;
}

.linkDashboard {
    padding-right: 5%;
}